<% if (!req.isAuthenticated()) { %>
  <header>
    <div class="header-left">
      <a href="/"><img class="logo" src="/img/idea-house.png" alt="Logo" /></a>
    </div>

    <div class="header-center">
      <a href="/what_we_do">What we do?</a>
      <a>How to use</a>
    </div>

    <div class="header-right">
      <a href="/login">
        <div>Login</div>
      </a>
      <a href="/register">
        <div>Register</div>
      </a>
      <!-- -->
  </header>

  <% } else { %>

    <header>
      <div class="header-left">
        <% const url="/users/" + req.user.id %>
          <a href=<%=url %>><img class="logo" src="/img/idea-house.png" alt="Logo" /></a>
      </div>
      <div class="header-center">
        <a href="/what_we_do">What we do?</a>
        <a>How to use</a>
      </div>
      <div class="header-right">

        <% const timelineUrl=url + "/timeline" ; const uploadUrl=url + "/upload" ; const notifUrl=url + "/notification"
          ; const chatUrl=url + "/chat" ; const profileUrl=url + "/profile" %>

          <div class="timeline"><a href=<%=timelineUrl%>>Timeline</a></div>
          <a href=<%=uploadUrl %>><span class="fa fa-plus-square-o"></span></a>
          <a href=<%=notifUrl %>><span class="fa fa-bell-o"></span></a>
          <a href=<%=chatUrl %>><i class="bi bi-chat-left-text"></i></a>
          <div class="profile-dropdown">
            <img id="profile-button" onclick="toggleProfileMenu()" src="/img/profile8.png" />
            <div id="profile-menu">
              <a href=<%=profileUrl %>>
                <div id="profile-menu-head">
                  <img id="profile-picture" src="/img/profile8.png" />
                  <div>
                    <p id="profile-name">
                      <%= req.user.name %>
                    </p>
                    <p id="profile-email">
                      <%= req.user.email %>
                    </p>
                  </div>
                </div>
              </a>
              <div id="profile-menu-list">
                <a href=<%=profileUrl%> class="profile-menu-item">Edit profil</a>
                <a href=<%=profileUrl%> class="profile-menu-item">Ide</a>
                <a href=<%=profileUrl%> class="profile-menu-item">Proyek</a>
                <a href=<%=profileUrl%> class="profile-menu-item">Liked</a>
              </div>
              <div id="profile-menu-logout">
                <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-link" style="color: red; text-decoration: none;">Log
                    Out</button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </header>
    <% } %>

      <main id="contents" class="d-flex flex-flow-row">
        <section class="catalog-category">
          <h2>Kategori</h2>
          <section class="category-tabs">
            <a href="/idea_catalog/?category=all&page=1">
              <p class="category-tab selected" id="ideas-tab">Ide Populer</p>
            </a>
            <a href="/idea_catalog/?category=Home&page=1">
              <p class="category-tab" id="home-and-kitchen-tab">Home & Kitchen</p>
            </a>
            <a href="/idea_catalog/?category=IT&page=1">
              <p class="category-tab" id="it-and-software-tab">IT & Software</p>
            </a>
            <a href="/idea_catalog/?category=Engineering&page=1">
              <p class="category-tab" id="engineering-tab">Engineering</p>
            </a>
            <a href="/idea_catalog/?category=Sport&page=1">
              <p class="category-tab" id="sports-tab">Sport Utilities</p>
            </a>
            <a href="/idea_catalog/?category=Fashion&page=1">
              <p class="category-tab" id="fashion-tab">Fashion</p>
            </a>
            <a href="/idea_catalog/?category=Entertainment&page=1">
              <p class="category-tab" id="entertainment-tab">Entertainment</p>
            </a>
          </section>
        </section>

        <section class="catalog-idea">
          <h1>Katalog Ide</h1>

          <section class="idea-container">
            <% if (ideasData.length==0) { %>
              <div class="no-idea d-flex flex-column justify-content-center align-items-center">
                <img id="no-idea-img" src="/img/empty.png" alt="" />
                No Idea Found
              </div>
              <% } %>

                <% ideasData.forEach((idea)=> { %>
                  <% const postUrl=`/post/${idea.id}` %>
                    <a href=<%=postUrl %>>
                      <section class="idea-item">
                        <section class="idea-item-left">
                          <h2 class="idea-name">
                            <%= idea.title %>
                          </h2>
                          <p class="idea-description">
                            <% if (idea.content.length> 140 ) {%>
                              <%= idea.content.slice(0, 140).concat(' ...') %>
                                <% } else { %>
                                  <%= idea.content %>
                                    <% } %>
                          </p>
                          <section class="idea-data">
                            <img class="idea-author" src="/img/profile8.png" alt="Foto profil pembuat pos"></img>
                            <p class="idea-author">
                              <%= idea.authorName %>
                            </p>
                            <span class="fa fa-heart-o"></span>
                            <p class="idea-stats">
                              <%= idea.like %>
                            </p>
                            <span class="fa fa-eye"></span>
                            <p class="idea-stats">
                              <%= idea.views %> tayangan
                            </p>
                          </section>
                        </section>
                        <section class="idea-item-right">
                          <% if (idea.thumbnail==null) { %>
                            <img class="idea-img" id="post-img" src="/img/thumbnail_placeholder.jpg"
                              loading="lazy"></img>
                            <% } else { %>
                              <img class="idea-img" id="post-img" src="/img/idea_1.png"></img>
                              <% } %>
                        </section>
                      </section>
                    </a>
                    <% }) %>
          </section>

          <div class="page-nav w-100 d-flex justify-content-center gap-2">
            <% for (let i=0; i < numPage; i++) { %>
              <% if ((i+1)==page) { %>
                <a href=<%=`/idea_catalog/?category=${currCategory}&page=${i+1}` %>>
                  <div class="page-nav-item d-flex justify-content-center"
                    style="background-color: #FFC30B; font-weight: 600;">
                    <%= i+1 %>
                  </div>
                </a>
                <% } else { %>
                  <a href=<%=`/idea_catalog/?category=${currCategory}&page=${i+1}` %>>
                    <div class="page-nav-item d-flex justify-content-center">
                      <%= i+1 %>
                    </div>
                  </a>
                  <% } %>
                    <% } %>
          </div>

        </section>
      </main>

      <%- include('partials/footer') %>