<header>
    <div class="header-left">
        <% const url="/users/" + user.id %>
            <a href=<%=url %>><img class="logo" src="/img/idea-house.png" alt="Logo" /></a>
    </div>
    <div class="header-center">
        <a href="/what_we_do">What we do?</a>
        <a>How to use</a>
    </div>
    <div class="header-right">

        <% const timelineUrl=url + "/timeline" ; const uploadUrl=url + "/upload" ; const notifUrl=url + "/notification"
            ; const chatUrl=url + "/chat" ; const profileUrl=url + "/profile" %>

            <div class="timeline"><a href=<%=timelineUrl%>>Timeline</a></div>
            <a href=<%=uploadUrl %>><span class="fa fa-plus-square-o"></span></a>
            <a href=<%=notifUrl %>><span class="fa fa-bell-o"></span></a>
            <a href=<%=chatUrl %>><i class="bi bi-chat-left-text"></i></a>
            <div class="profile-dropdown">
                <img id="profile-button" onclick="toggleProfileMenu()" src="/img/profile8.png" />
                <div id="profile-menu">
                    <a href=<%=profileUrl %>>
                        <div id="profile-menu-head">
                            <img id="profile-picture" src="/img/profile8.png" />
                            <div>
                                <p id="profile-name">
                                    <%= user.name %>
                                </p>
                                <p id="profile-email">
                                    <%= user.email %>
                                </p>
                            </div>
                        </div>
                    </a>
                    <div id="profile-menu-list">
                        <a href=<%=profileUrl%> class="profile-menu-item">Edit profil</a>
                        <a href=<%=profileUrl%> class="profile-menu-item">Ide</a>
                        <a href=<%=profileUrl%> class="profile-menu-item">Proyek</a>
                        <a href=<%=profileUrl%> class="profile-menu-item">Liked</a>
                    </div>
                    <div id="profile-menu-logout">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-link" style="color: red; text-decoration: none;">Log
                                Out</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</header>

<main id="contents" class="d-flex" style="flex-flow: row; height: calc(100% - 70px - 1px); ">
    <section class="chat-list">
        <h1>Obrolan</h1>
        <input type="search" class="chat-search" name="search-query" placeholder="Cari Obrolan atau Orang"></input>
        <section class="chat-tabs">

            <a href="">
                <section class="chat-tab" id="group1-tab">
                    <img src="/img/profile6.png"></img>
                    <section class="chat-tab-text">
                        <section class="chat-tab-top">
                            <h2>Grup 1</h2>
                            <p>•</p>
                            <p>1j</p>
                        </section>
                        <section class="chat-tab-bottom">
                            <p>Melanie: Okay</p>
                        </section>
                    </section>
                </section>
            </a>

        </section>
    </section>

    <section class="chat-content">

        <section id="private1-content">
            <section class="chat-head">
                <img src="/img/profile6.png"></img>
                <h2>
                    <%= target.name%>
                </h2>
            </section>
            <section class="chat-texts">
                <p class="chat-message received">Hi!</p>
                <p class="chat-message received">I just saw your new post, n im interested w it. Would you mind to
                    discuss it
                    w me?</p>
                <p class="chat-message sent">Oh hi! sure sureee</p>
                <p class="chat-message received">before that, im alexandra nice to meet you!!!</p>
                <p class="chat-message sent">haha nice to meet you tooo! im jack</p>
                <p class="chat-message sent">so what are we gonna talkin abt?</p>
                <p class="chat-message received">oh yea! first of all ive read your idea that you post recently n thats
                    so
                    goodd ngl</p>
                <p class="chat-message received">like how can you think about tht? Im so curioussssss</p>
                <p class="chat-message sent">idk but suddenly tht idea comes to my mind n i do some research for a
                    minute n
                    post itttt. What do you think?</p>
                <p class="chat-message received">no but actually seriously</p>
                <p class="chat-message received">not long a time ago, 2 or 3 days ago I thnk abt object tht you post
                    like idk
                    its so unpredictable n i saw your post n im like oh god...</p>
                <p class="chat-message received">I think about that too!! oh my god haha</p>
            </section>

            <section class="chat-input">
                <form action=<%=`/users/${req.user.id}/chat/${roomId}` %> method="POST">
                    <textarea name="message" id="message-input" placeholder="Pesan Baru..."
                        style="max-height: 60px; height: 33px" oninput="resizeChatInput(this)"></textarea>
                    <button type="submit"><i class="bi bi-send-fill"></i></button>
                </form>
            </section>
        </section>

    </section>
</main>

<script>
    var chatContainer = document.getElementsByClassName("chat-texts")[0]
    chatContainer.scrollTop = chatContainer.scrollHeight
</script>

<script src="../clientChat.js"></script>