<header>
  <div class="header-left">
    <% const url="/users/" + user.id %>
      <a href=<%=url %>><img class="logo" src="/img/idea-house.png" alt="Logo" /></a>
  </div>
  <div class="header-center">
    <a href="/what_we_do">What we do?</a>
    <a>How to use</a>
  </div>
  <div class="header-right">

    <% const timelineUrl=url + "/timeline" ; const uploadUrl=url + "/upload" ; const notifUrl=url + "/notification" ;
      const chatUrl=url + "/chat" ; const profileUrl=url + "/profile" %>

      <div class="timeline"><a href=<%=timelineUrl%>>Timeline</a></div>
      <a href=<%=uploadUrl %>><span class="fa fa-plus-square-o"></span></a>
      <a href=<%=notifUrl %>><span class="fa fa-bell-o"></span></a>
      <a href=<%=chatUrl %>><i class="bi bi-chat-left-text"></i></a>
      <div class="profile-dropdown">
        <img id="profile-button" onclick="toggleProfileMenu()" src="/img/profile8.png" />
        <div id="profile-menu">
          <a href=<%=profileUrl %>>
            <div id="profile-menu-head">
              <img id="profile-picture" src="/img/profile8.png" />
              <div>
                <p id="profile-name">
                  <%= user.name %>
                </p>
                <p id="profile-email">
                  <%= user.email %>
                </p>
              </div>
            </div>
          </a>
          <div id="profile-menu-list">
            <a href=<%=profileUrl%> class="profile-menu-item">Edit profil</a>
            <a href=<%=profileUrl%> class="profile-menu-item">Ide</a>
            <a href=<%=profileUrl%> class="profile-menu-item">Proyek</a>
            <a href=<%=profileUrl%> class="profile-menu-item">Liked</a>
          </div>
          <div id="profile-menu-logout">
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-link" style="color: red; text-decoration: none;">Log
                Out</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</header>

<div id="contents">
  <% const postUrl=`/users/${user.id}/upload` %>
    <form action=<%=postUrl %> method="POST" class="d-flex">
      <div class="idea-main">
        <input name="title" type="text" id="input-title" defaultValue="Judul" placeholder="Judul" required></input>
        <textarea name="content" id="input-description" placeholder="Jelaskan ide Anda di sini" required></textarea>
      </div>

      <div class="idea-sidebar">
        <h2>Kategori</h2>
        <div class="category-list">
          <div class="category-item">
            <input value="Home & Kitchen" name="category" id="category1" type="checkbox" />
            <label for="category1">Home & Kitchen</label>
          </div>
          <div class="category-item">
            <input value="IT & Software" name="category" id="category2" type="checkbox" />
            <label for="category2">IT & Software</label>
          </div>
          <div class="category-item">
            <input value="Engineering" name="category" id="category3" type="checkbox" />
            <label for="category3">Engineering</label>
          </div>
          <div class="category-item">
            <input value="Sport Utilities" name="category" id="category4" type="checkbox" />
            <label for="category4">Sports Utilities</label>
          </div>
          <div class="category-item">
            <input value="Fashion" name="category" id="category5" type="checkbox" />
            <label for="category5">Fashion</label>
          </div>
          <div class="category-item">
            <input value="Entertainment" name="category" id="category6" type="checkbox" />
            <label for="category6">Entertainment</label>
          </div>
        </div>

        <button type="submit" id="publish-button">Bagikan</button>
      </div>
    </form>
</div>